body {
  background-color: #1c1c1c;
  color: #ebdbb2;
  margin: 1em;
  font-size: 1.2em;
  font-family: Serif;

  h1,
  h2 {
    font-family: Cursive;
  }
}

a {
  text-decoration-line: underline;
}

div:not(:last-child),
hr {
  margin-bottom: 40px;
}
